<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Llo</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="title">
      'Llo
    </div>
    <div class="composer">
      <form action="/submit" method="post">
        <input class="input" type="text" name="content" placeholder="Say 'Llo..."> 
      </form>
    </div>
    <div class="posts">
      <% for (var i = 0; i < posts.length; i++) { %>
        <div class="post">
          <%= posts[i].content %>
        </div>
      <% } %>
    </div>
  </body>
</html>
